/* Regla general */
* {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  background-color: #fff;
}

/* Header */

header {
  display: flex;
  padding: 20px 10%;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 15px rgba(61, 157, 242, 1);
}

header img {
  width: 8rem;
  height: auto;
  position: relative;
  float: left;
}

li,
a,
button {
  text-align: right;
  font-weight: 500;
  font-size: 17px;
  text-decoration: none;
}

nav {
  padding-top: 1%;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a {
  color: #3a393e;
  transition: all 0.3s ease 0s;
}

.nav-links li a:visited {
  color: #3a393e;
}

/* Animacion Nav */

.nav-links li a:hover {
  color: #3d9df2;
}

.nav-links li a::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #000;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links li a:hover::after {
  width: 100%;
}

button {
  padding: 9px 25px;
  background-color: rgb(240, 240, 240);
  color: #3d9df2;
  border: 1px solid #3d9df2;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: #3d9df2;
  color: #fff;
}

/* Grid de imagen con texto */

.container {
  margin-top: 2%;
  position: relative;
  width: 80%;
}
#card {
  opacity: 0.7;
}

#card:hover {
  opacity: 1;
}

/* Titulo animado */

.titulo {
  position: absolute;
  font-size: 55px;
  color: #000;
  font-weight: 500;
  margin-top: 200px;
  animation-duration: 2s;
  animation-name: slidein;
}

@media screen and (max-width: 600px) {
  .titulo {
    position: absolute;
    font-size: 55px;
    color: #000;
    font-weight: 500;
    margin-top: 100px;
    animation-duration: 2s;
    animation-name: slidein;
  }
}

@keyframes slidein {
  from {
    margin-left: -100%;
    width: -100%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

.container-relative-bottom {
  margin-top: 10%;
}

.titulo span {
  color: #3d9df2;
}

.container p {
  color: #757575;
}
/* Grid Dolar */
.cv {
  padding: 0px;
  margin: 0px;
}

.db {
  background-color: #3d9df2;
  margin: 0px;
}

.valores {
  background-color: #5b83a6;
}

.tarjeta {
  margin: 0px;
  padding: 5px;
}
/* Footer */

.flex-column li a {
  font-weight: 300;
}

.text-right {
  text-align: right;
}

.text-muted {
  padding-left: 7px;
}
