/* Regla general */
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

a img {
  width: 8rem;
}

.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.form {
  width: 300px;
  height: 350px;
  padding-top: 200px;
  background-color: #fff;
  border-radius: 20px;
  text-align: center;
  border-color: #3d9df2;
  border-style: double;
}

input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  border: none;
  border-bottom: 1px solid #757575;
}

input:focus {
  outline: none;
}

label {
  color: #999;
  font-size: 18px;
  top: -20px;
  transition: all 0.2s ease;
}

input:focus ~ label,
input.used ~ label {
  transform: scale(0.75);
  top: -20px;
  color: #4a89dc;
}

.bar {
  display: block;
  width: 100%;
}

.checkbox {
  padding-top: 15px;
  padding-bottom: 15px;
}

a {
  text-decoration: none !important;
}

.submit {
  border-radius: 50px !important;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 9px 25px;
  background-color: rgb(231, 228, 228);
  color: #3d9df2;
  border: 1px solid #3d9df2;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: #3d9df2;
  color: #fff;
}
