body {
  overflow: hidden;
  font-family: "rubik", verdana, sans-serif;
}

.bg-primary {
  background-color: rgb(255, 255, 255) !important;
}

#sidebar-container {
  height: 100%;
  width: 21rem;
  padding: 20px;
}

#sidebar-container .logo {
  padding: 10px 25px;
}

a {
  text-decoration: none;
  color: rgb(55, 55, 55);
}

a.nav-link:hover {
  color: rgb(8, 137, 188);
}
a.dropdown-item:hover {
  color: rgb(8, 137, 188);
}
a:hover {
  text-decoration: none;
  color: rgb(17, 170, 230);
}
#menuabajo {
  padding: 10px 0px;
}
.menu img {
  opacity: 80%;
  margin-right: 12px;
}
.app {
  font-size: 18px;
  font-weight: 450;
  color: rgb(72, 72, 72);
}

.mj-bienvenida {
  color: rgb(8, 137, 188);
}
header .nombre-usuario {
  font-size: 17px;
  font-weight: 450;
  color: rgb(72, 72, 72);
  margin: -29px 510px;
}
#content {
  overflow-y: auto;
  height: 100vh;
  padding-bottom: 5rem;
}

.stat {
  border-right: 1px solid grey;
}
