body {
  overflow: hidden;
  font-family: "rubik", verdana, sans-serif;
}

.bg-primary {
  background-color: rgb(255, 255, 255) !important;
}

#sidebar-container {
  height: 100%;
  width: 21rem;
  padding: 20px;
}

#sidebar-container .logo {
  padding: 10px 25px;
}

a {
  text-decoration: none;
  color: rgb(55, 55, 55);
}

a.nav-link:hover {
  color: rgb(8, 137, 188);
}
a.dropdown-item:hover {
  color: rgb(8, 137, 188);
}
a:hover {
  text-decoration: none;
  color: rgb(17, 170, 230);
}
#menuabajo {
  padding: 10px 0px;
}
.menu img {
  opacity: 80%;
  margin-right: 12px;
}
.app {
  font-size: 18px;
  font-weight: 450;
  color: rgb(72, 72, 72);
}

.mj-bienvenida {
  color: rgb(8, 137, 188);
}
header .nombre-usuario {
  font-size: 17px;
  font-weight: 450;
  color: rgb(72, 72, 72);
  margin: -29px 510px;
}
#content {
  overflow-y: auto;
  height: 100vh;
  padding-bottom: 5rem;
}

.stat {
  border-right: 1px solid grey;
}
.user_card {
  width: 350px;
  margin-top: auto;
  margin-bottom: auto;
  background: rgb(198, 215, 224);
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(48, 214, 236, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.form_container {
  margin-top: 20px;
}

#form-title {
  color: rgb(0, 0, 0);
}

.login_btn:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.login_container {
  padding: 0 2rem;
}
.input_user,
.input_pass:focus {
  box-shadow: none !important;
  outline: 0px !important;
}

/* ------------------------------ Tarjetas ------------------------*/

.contenedor {
  width: 90%;
  max-width: 1000px;
  padding: 40px 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ---------- Estilos Generales de las Tarjetas ----------*/
.tarjeta {
  width: 100%;
  max-width: 550px;
  position: relative;
  color: #fff;
  transition: 0.3s ease all;
  transform: rotateY(0deg);
  transform-style: preserve-3d;
  cursor: pointer;
  z-index: 2;
}

.tarjeta.active {
  transform: rotateY(180deg);
}

.tarjeta > div {
  padding: 30px;
  border-radius: 15px;
  min-height: 315px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 10px 10px 0 rgba(90, 116, 148, 0.3);
}

/* ---------- Tarjeta Delantera ----------*/

.tarjeta .delantera {
  width: 100%;
  background-color: #000000;
  background-size: cover;
}
.delantera .link-banco {
  text-align: left;
  min-height: 50px;
}
.delantera .logo-marca {
  text-align: right;
  min-height: 50px;
}

.delantera .logo-marca img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 80px;
}

.delantera .chip {
  width: 100%;
  max-width: 50px;
  margin-bottom: 20px;
}

.delantera .grupo .numero,
.delantera .grupo .nombre,
.delantera .grupo .expiracion {
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
}

.delantera .flexbox {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

/* ---------- Tarjeta Trasera ----------*/
.trasera {
  background-color: #000000;
  background-size: cover;
  position: absolute;
  top: 0;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.trasera .barra-magnetica {
  height: 40px;
  background: rgb(198, 198, 198);
  width: 100%;
  position: absolute;
  top: 30px;
  left: 0;
}

.trasera .datos {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

.trasera .datos p {
  margin-bottom: 5px;
}

.trasera .datos #ccv {
  width: 20%;
}

.trasera .datos #ccv .ccv {
  background: rgb(0, 0, 0);
  height: 40px;
  color: rgb(180, 180, 180);
  padding: 10px;
  text-align: center;
}

.trasera .leyenda {
  font-size: 14px;
  line-height: 24px;
}

.trasera .link-banco {
  font-size: 14px;
  color: #fff;
}
