{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap"
      rel="stylesheet"
    />
    <!-- Boostrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    {% block static %}
    <link rel="stylesheet" href="{% static 'home/css/main.css' %}" />
    {% endblock %}
    <title>Menu Principal | ITBANK</title>
  </head>

  <body>
    <div class="d-flex ">
      <div id="sidebar-container" class="bg-primary">
        <a href="{% url 'home'%}"><img src="{% static 'home/img/itbank-logoceleste.png' %}" alt="logo" width="180"></a>
        <!-- MENU -->
        <div class="menu">
          <a href="{% url 'mains' %}" class="d-block m-2 p-1"><img src="{% static 'home/icons/inicio.svg' %}"></i>Inicio</a>
          <a href="#" class="d-block m-2 p-1"><img src="{% static 'home/icons/tarjetas.svg' %}">Tarjetas</a>
          <a href="#" class="d-block m-2 p-1"><img src="{% static 'home/icons/transferencias.svg' %}" >Transferencias</a>
          <a href="#" class="d-block m-2 p-1"><img src="{% static 'home/icons/inversiones.svg' %}">Ahorro e Inversiones</a>
          <a href="{% url 'prestamo' %}" class="d-block m-2 p-1"><img src="{% static 'home/icons/prestamos.svg' %}" >Préstamos</a>
          <a href="#" class="d-block m-2 p-1"><img src="{% static 'home/icons/pagos.svg' %}">Pagos</a>
          <a href="#" class="d-block m-2 p-1"><img src="{% static 'home/icons/seguridad.svg' %}">Seguridad</a>
          <a href="#" class="d-block m-2 p-1"><img src="{% static 'home/icons/turnos.svg' %}">Turnos</a>
          <a href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" class="d-block m-2 p-1"><img src="{% static 'home/icons/ayuda.svg' %}">Ayuda</a>
        </div>
        <!-- Descarga app -->
        <div id="menuabajo">
          <p class="app">Descargá la App desde</p>
          <div d-flex>
            <div class="d-flex mb-2">
              <img src="{% static 'home/icons/apple.svg' %}" class="me-2">
              <div> 
                <small>Consíguela en</small>
                <p class="fw-bold mb-0">App Store</p>
              </div>
              
            </div>
            <div class="d-flex" >
              <img src="{% static 'home/icons/playstore.svg' %}" class="me-2">
              <div>
                <small>Disponible en</small>
                <p class="fw-bold mb-0">Play store</p>
              </div>
            </div>
          </div>
        </div>
        
      </div>
      <div class="w-100">
        <nav class="navbar navbar-expand-lg border-bottom">
          <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <ul class="navbar-nav ml-auto ">
              <li class="nav-item dropdown ml-auto">
                <a class="nav-link dropdown-toggle fw-bold" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Informacion del cliente
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'data_cliente-list' %}">Datos de cliente</a></li>
                  <li><a class="dropdown-item" href="{% url 'cuentas-list' %}">Cuenta</a></li>
                  <li><a class="dropdown-item" href="{% url 'prestamos-list' %}">Préstamos</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{% url 'api-root' %}">Ó ingresa directamente al API-Root</a></li>
                </ul>
              </li>
            </ul>
            <div class="collapse navbar-collapse flex-row-reverse" id="navbarSupportedContent">
              <div class="p-2"></div>
              <div class="p-2"></div>
              <div class="p-2"></div>
              <div class="p-2"></div>
              <div class="p-2"></div>
              <ul class="navbar-nav ml-auto ">
                <li class="nav-item dropdown ml-auto">
                  <a class="nav-link dropdown-toggle fw-bold" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{user.first_name}} {{user.last_name}}
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Perfil</a></li>
                    <li><a class="dropdown-item" href="#">Seguridad</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesion</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <div id="content">
          <!-- Mje bienvenida -->
          <section class="py-3">
            <div class="container">
              <div class="row">
                <div class="col-lg-9">
                  <h1 class="mb-0 mj-bienvenida">Solicitud de Préstamos pre-aprobados</h1>
                </div>
              </div>
            </div>
          </section>
          <!-- Sección saldos -->
          <section>
            <div class="container">
              {% if 'classic' in request.GET %}
              <div class="alert alert-danger shadow w-50 " role="alert">
                <h4 class="alert-heading">¡Error!</h4>
                <hr>
                <p class="mb-0">El monto del prestamo solicitado excede el límite de los $100.000 como cliente "Classic"</p>
              </div>
              {% endif %}
              {% if 'gold' in request.GET %}
              <div class="alert alert-danger shadow w-50 " role="alert">
                <h4 class="alert-heading">¡Error!</h4>
                <hr>
                <p class="mb-0">El monto del prestamo solicitado excede el límite de los $300.000 como cliente "Gold"</p>
              </div>
              {% endif %}
              {% if 'black' in request.GET %}
              <div class="alert alert-danger shadow w-50 " role="alert">
                <h4 class="alert-heading">¡Error!</h4>
                <hr>
                <p class="mb-0">El monto del prestamo solicitado excede el límite de los $500.000 como cliente "Black"</p>
              </div>
              {% endif %}
              {% if 'aprobado' in request.GET %}
              <div class="alert alert-success shadow w-50 " role="alert">
                <h4 class="alert-heading">¡Tu solicitud de prestamo fue aprobada!</h4>
                <hr>
                <p class="mb-0">El monto solicitado ya está acreditado en tu cuenta.</p>
              </div>
              {% endif %}
            </div>
          </section>
          
        </div>
      </div>
    </div>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasRightLabel">Buscando un operador</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <div class="d-flex justify-content-center">
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Cargando...</span>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  <script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"
></script>
<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"
></script>
<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"
></script>
<link
  rel="stylesheet"
  type="text/css"
  href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"
/>

 
</html>
