{% load static %}
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/229bd6718e.js"
      crossorigin="anonymous"
    ></script>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="{% static 'home/css/login.css' %}" />
    <title>ITBANK | Login</title>
  </head>
  <body>
    <div class="container-fluid text-center mt-5 mb-5">
      <a href="{% url 'home'%}"
        ><img
          src="{% static 'home/img/itbank-logoceleste.png' %}"
          alt="Logo_Itbank"
          class="logo align-self-center"
      /></a>
    </div>
    <style>
      .errorlist {
        color: red;
      }
    </style>
    <div class="container" style="max-width: 400px">
      <form action="" method="post">
        {% csrf_token %} {% if form.non_field_errors %}
        <p style="color: red">
          Usuario o contraseña incorrectos, prueba de nuevo.
        </p>
        {% endif %}
        <input
          type="text"
          name="username"
          autofocus
          maxlength="254"
          required
          id="id_username"
          class="form-control mt-2 mb-2"
          placeholder="Usuario"
        />
        <input
          type="password"
          name="password"
          required
          id="id_password"
          class="form-control mt-2 mb-2"
          placeholder="Contraseña"
        />
        <div class="loginDiv">
          <input
            type="submit"
            class="loginBtn btn btn-primary btn-block"
            value="Iniciar sesión"
          />
        </div>
      </form>

      <!--Opción de olvido de contraseña-->
      <div class="loginDiv">
        <a
          type="button"
          class="loginBtn btn btn-secondary btn-block"
          href="{% url 'register'%}"
          >Crear una nueva cuenta</a
        >
      </div>
      <p>
        <a href="{% url 'password_reset' %}">¿No recordás tu clave?</a>
      </p>
    </div>

    <footer>
      <div>
        <p>
          <b>Sentite seguro con ITBANK.</b>
          Nunca compartas tus datos personales, <br />
          claves y números de tarjetas con nadie.
          <a href="">Te compartimos algunos consejos aquí</a>
        </p>
      </div>
    </footer>
  </body>
</html>
