{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap"
      rel="stylesheet"
    />
    <!-- Boostrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    {% block static %}
    <link rel="stylesheet" href="{% static 'home/css/main.css' %}" />
    {% endblock %}
    <title>Menu Principal | ITBANK</title>
  </head>

  <body>
    <div class="d-flex ">
      <div id="sidebar-container" class="bg-primary">
        <a href="{% url 'home'%}"><img src="{% static 'home/img/itbank-logoceleste.png' %}" alt="logo" width="180"></a>
        <!-- MENU -->
        <div class="menu">
          <a href="{% url 'mains' %}" class="d-block m-2 p-1"><img src="{% static 'home/icons/inicio.svg' %}"></i>Inicio</a>
          <a href="{% url 'tarjeta' %}" class="d-block m-2 p-1" ><img src="{% static 'home/icons/tarjetas.svg' %}">Tarjetas</a>
          <a href="#" class="d-block m-2 p-1"><img src="{% static 'home/icons/transferencias.svg' %}" >Transferencias</a>
          <a href="#" class="d-block m-2 p-1"><img src="{% static 'home/icons/inversiones.svg' %}">Ahorro e Inversiones</a>
          <a href="{% url 'prestamo' %}" class="d-block m-2 p-1"><img src="{% static 'home/icons/prestamos.svg' %}" >Préstamos</a>
          <a href="#" class="d-block m-2 p-1"><img src="{% static 'home/icons/pagos.svg' %}">Pagos</a>
          <a href="#" class="d-block m-2 p-1"><img src="{% static 'home/icons/seguridad.svg' %}">Seguridad</a>
          <a href="#" class="d-block m-2 p-1"><img src="{% static 'home/icons/turnos.svg' %}">Turnos</a>
          <a href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" class="d-block m-2 p-1"><img src="{% static 'home/icons/ayuda.svg' %}">Ayuda</a>
        </div>
        <!-- Descarga app -->
        <div id="menuabajo">
          <p class="app">Descargá la App desde</p>
          <div d-flex>
            <div class="d-flex mb-2">
              <a href="https://www.apple.com/la/app-store/" target="_blank"><img src="{% static 'home/icons/apple.svg' %}" class="me-2"></a>
              
              <div> 
                <small>Consíguela en</small>
                <p class="fw-bold mb-0">App Store</p>
              </div>
              
            </div>
            <div class="d-flex" >
              <a href="https://play.google.com/store/apps" target="_blank"><img src="{% static 'home/icons/playstore.svg' %}" class="me-2"></a>
              
              <div>
                <small>Disponible en</small>
                <p class="fw-bold mb-0">Play store</p>
              </div>
            </div>
          </div>
        </div>
        
      </div>
      <div class="w-100">
        <nav class="navbar navbar-expand-lg border-bottom">
          <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <ul class="navbar-nav ml-auto ">
              {% if request.user.is_staff %}
              <li class="nav-item dropdown ml-auto">
                <a class="nav-link dropdown-toggle fw-bold" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Informacion del cliente
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'Informacion Cliente-list' %}">Cliente</a></li>
                  <li><a class="dropdown-item" href="{% url 'Informacion Cuentas-list' %}">Cuenta</a></li>
                  <li><a class="dropdown-item" href="{% url 'Prestamos-list' %}">Préstamos</a></li>
                  <li><a class="dropdown-item" href="{% url 'Direcciones-list' %}">Dirección</a></li>
                  <li><a class="dropdown-item" href="{% url 'Tarjetas-list' %}">Tarjetas</a></li>
                  <li><a class="dropdown-item" href="{% url 'Sucursales-list' %}">Sucursales</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{% url 'api-root' %}">API-Root</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown ml-auto">
                <a class="nav-link dropdown-toggle fw-bold" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Listado de todos los clientes
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'Lista de Usuarios-list' %}">Usuarios</a></li>
                  <li><a class="dropdown-item" href="{% url 'Prestamos por Sucursal-list' %}">Prestamos por sucursal</a></li>
                  <li><a class="dropdown-item" href="{% url 'Lista Tarjetas-list' %}">Tarjetas</a></li>
                  <li><a class="dropdown-item" href="{% url 'Sucursales-list' %}">Sucursales</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{% url 'api-root' %}">API-Root</a></li>
                </ul>
              </li>
              {% else %}
              <li class="nav-item dropdown ml-auto">
                <a class="nav-link dropdown-toggle fw-bold" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Informacion del cliente
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'Informacion Cliente-list' %}">Cliente</a></li>
                  <li><a class="dropdown-item" href="{% url 'Informacion Cuentas-list' %}">Cuenta</a></li>
                  <li><a class="dropdown-item" href="{% url 'Prestamos-list' %}">Préstamos</a></li>
                  <li><a class="dropdown-item" href="{% url 'Direcciones-list' %}">Dirección</a></li>
                  <li><a class="dropdown-item" href="{% url 'Tarjetas-list' %}">Tarjetas</a></li>
                  <li><a class="dropdown-item" href="{% url 'Sucursales-list' %}">Sucursales</a></li>
                </ul>
              </li>
              {% endif %}
            </ul>
            <div class="collapse navbar-collapse flex-row-reverse" id="navbarSupportedContent">
              <div class="p-2"></div>
              <div class="p-2"></div>
              <div class="p-2"></div>
              <div class="p-2"></div>
              <div class="p-2"></div>
              <ul class="navbar-nav ml-auto ">
                <li class="nav-item dropdown ml-auto">
                  <a class="nav-link dropdown-toggle fw-bold" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{user.first_name}} {{user.last_name}}
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Perfil</a></li>
                    <li><a class="dropdown-item" href="#">Seguridad</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesion</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <div id="content">
          <!-- Mje bienvenida -->
          <section class="py-3">
            <div class="container">
              <div class="row">
                <div class="col-lg-6">
                  <h1 class="mb-0 mj-bienvenida">Tarjetas</h1> 
                </div>
              </div>
            </div>
          </section>
          <!-- Tarjeta -->
          <section>
            <div class="container">
              <div class="row">
                <!-- Gráfico -->
                <div class="col-lg-6 my-4">
                  <div class="contenedor">
                    <section class="tarjeta" id="tarjeta">
                     <div class="delantera">
                      <div class="logo" id="logo-banco">
                        <img src="{% static 'home/img/itbank-logoblanco.png' %}" alt="ITBANK" width="200">
                      </div>
                             
                       <div class="datos">                    
                         <div class="grupo" id="numero">
                           <p class="numero"></p>
                         </div>                    
                         <div class="flexbox">
                           <div class="grupo" id="nombre">
                             <p class="nombre">{{user.last_name}} {{user.first_name}}</p>
                           </div>
                           <div class="grupo" id="expiracion"> 
                             <p class="expiracion"></p>
                           </div>                        
                         </div>
                         <div class="logo-marca" id="logo-marca">
                          <img src="{% static 'home/img/visa.png' %}" alt="Visa">
                        </div>
                       </div>
                      </div>
                     <div class="trasera">
                       <div class="barra-magnetica"></div>
                       <div class="datos">
                         <div class="grupo" id="firma">
                           <div class="firma"><p></p></div>
                         </div> 
                        </div>
                       <p class="leyenda">Esta tarjeta es intransferible y para uso exclusivo del titular, de acuerdo con los términos y condiciones que rigen en la utilización de la misma, valida hasta el último día del mes indicado. Esta tarjeta es propiedad del ITBANK.</p>
                       <a class="link-banco">www.itbank.com</a>
                     </div>
                    </section>
                  </div>
                </div>
                <!-- Movimientos -->
                <div class="alert alert-info col-lg-4" role="alert">
                  <h4 class="alert-heading">¿Todavía no tenes tu tarjeta de ITBANK?</h4>
                  <p>Adquiriendo la tarjeta de ITBANK sos parte de numerosos beneficios. Conocelos a continuación.</p>
                  <hr>
                  <p class="mb-0">Hasta 15% de descuento comprando pasajes en Aerolineas Argentinas.</p>
                  <hr>
                  <p class="mb-0">Tenés 10% de descuento todos los Lunes comprando combustible en estaciones YPF.</p>
                  <hr>
                  <p class="mb-0">Hasta 24 cuotas sin interés comprando en cualquier tienda de electrónica.</p>
                  <hr>
                  <p class="mb-0">Utilizando nuestra tarjeta en PedidosYa, adquirís beneficios exclusivos todos los viernes.</p>
                  <hr>
                  <p class="mb-0 fw-bold">¿Qué estás esperando para adquirirla?</p>
                  <p> Ponete en contacto con un asesor ahora mismo en la sección "Ayuda" y tendrás tu tarjeta en menos de 48 hs.</p>

                </div>
              </div>
              
            </div>
          </section>
        </div>
      </div>
    </div>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasRightLabel">Buscando un operador</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <div class="d-flex justify-content-center">
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Cargando...</span>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js" integrity="sha256-+8RZJua0aEWg+QVVKg4LEzEEm/8RFez5Tb4JBNiV5xA=" crossorigin="anonymous"></script>
  <script>
    const labels = [
      'January',
      'February',
      'March',
      'April',
      'May',
      'June',
    ];
  
    const data = {labels: [
    'Junio',
    'Julio',
    'Agosto',
    'Septiembre'],
    datasets: [{
    label: 'Gastos del mes',
    data: [30000, 50000, 45000,60000],
    backgroundColor: [
      'rgb(255, 99, 132)',
      'rgb(54, 162, 235)',
      'rgb(255, 205, 86)',
      'rgb(0, 149, 37)'

    ],
    maxBarThickness:40,
    hoverOffset: 4
    }]};
  
    const config = {
      type: 'doughnut',
      data: data,
      options: {}
    };
  </script>
  <script>
    const myChart = new Chart(
      document.getElementById('myChart'),
      config
    );
  </script>
  <script>
    const mostrarFrente = () => {
	    if(tarjeta.classList.contains('active')){
	    	tarjeta.classList.remove('active');
	    }
    }
    // * Rotacion de la tarjeta
    tarjeta.addEventListener('click', () => 
    {
    	tarjeta.classList.toggle('active');
    });
</script>
</html>


