{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'home/css/index.css' %}" />
    <title>Home | ITBANK</title>
  </head>
  <body style="background-color: #f9fdff">
    <!----- Header ----->

    <header style="background-color: #ffffff">
      <a
        ><img
          src="{% static 'home/img/itbank-logoceleste.png' %}"
          alt="Logo_Itbank"
      /></a>
      {% if user.is_authenticated %}
      <nav>
        <ul class="nav-links">
          <li><a href="#dolar">Cotización del dolar</a></li>
          <li><a href="#info">Informacion</a></li>
          <li><a href="#footer">Sobre nosotros</a></li>
        </ul>
      </nav>
      <div class="dropdown">
        <button
          class="dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          {{user.first_name}} {{user.last_name}}
        </button>
        <ul class="dropdown-menu">
          <a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesion</a>
          <a class="dropdown-item" href="{% url 'mains' %}">Ir a cuenta</a>
        </ul>
      </div>
      {% else %}
      <nav>
        <ul class="nav-links">
          <li><a href="#dolar">Cotización del dolar</a></li>
          <li><a href="#info">Informacion</a></li>
          <li><a href="#footer">Sobre nosotros</a></li>
        </ul>
      </nav>
      <a href="{% url 'login' %}"><button>Ingresar</button></a>
      {% endif %}
    </header>
    {% block content %} {% endblock %}
    <!----- Grid con texto e imagen ----->

    <div class="container d-flex justify-content-center">
      <div class="row">
        <div class="col-12 col-lg-2">
          <h1 class="titulo">Bienvenidos<br />al <span>Home Banking</span></h1>
        </div>
        <div class="col-12 col-lg-10">
          <img
            class="portada"
            src="{% static 'home/img/portada1.gif' %}"
            alt="Home"
            width="126%"
          />
        </div>
      </div>
    </div>

    <!---- Grid con API ---->

    <div class="container d-flex justify-content-center" id="dolar">
      <div class="row container-fluid">
        <div class="col-12 col-lg-4 p-2">
          <article class="card h-100 border-0">
            <div id="tarjeta" class="card-body shadow">
              <div
                class="db container-fluid text-center text-light p-1 fs-4 rounded-top"
              >
                Dolar Oficial
              </div>
              <div class="valores container-fluid d-flex text-center pt-1 fs-5">
                <div class="w-50 text-center">
                  <p class="cv text-light">Compra</p>
                  <p id="compra1" class="tarjeta text-light"></p>
                </div>
                <div class="w-50 text-center">
                  <p class="cv text-light">Venta</p>
                  <p id="venta1" class="tarjeta text-light"></p>
                </div>
              </div>
              <div class="text-center">
                <p id="variacion1" class="tarjeta text-dark"></p>
              </div>
              <div class="text-center">
                <p class="db text-light p-2 rounded-bottom">Actualizado</p>
              </div>
            </div>
          </article>
        </div>

        <div class="col-12 col-lg-4 p-2">
          <article class="card h-100 border-0">
            <div id="card" class="card-body shadow">
              <div
                class="db container-fluid text-center text-light p-1 fs-4 rounded-top"
              >
                Dolar Blue
              </div>
              <div class="valores container-fluid d-flex text-center pt-1 fs-5">
                <div class="w-50 text-center">
                  <p class="cv text-light">Compra</p>
                  <p id="compra" class="tarjeta text-light"></p>
                </div>
                <div class="w-50 text-center">
                  <p class="cv text-light">Venta</p>
                  <p id="venta" class="tarjeta text-light"></p>
                </div>
              </div>
              <div class="text-center">
                <p id="variacion" class="tarjeta text-dark"></p>
              </div>
              <div class="text-center">
                <p class="db text-light p-2 rounded-bottom">Actualizado</p>
              </div>
            </div>
          </article>
        </div>

        <div class="col-12 col-lg-4 p-2">
          <article class="card h-100 border-0">
            <div class="card-body shadow">
              <div
                class="db container-fluid text-center text-light p-1 fs-4 rounded-top"
              >
                Contado con liqui
              </div>
              <div class="valores container-fluid d-flex text-center pt-1 fs-5">
                <div class="container-fluid">
                  <p class="cv text-light">Referencia</p>
                  <p id="venta3" class="tarjeta text-light"></p>
                </div>
              </div>
              <div class="text-center">
                <p id="variacion3" class="tarjeta text-dark"></p>
              </div>
              <div class="text-center">
                <p class="db text-light p-2 rounded-bottom">Actualizado</p>
              </div>
            </div>
          </article>
        </div>

        <div class="col-12 col-lg-4 p-2">
          <article class="card h-100 border-0">
            <div id="tarjeta" class="card-body shadow">
              <div
                class="db container-fluid text-center text-light p-1 fs-4 rounded-top"
              >
                Dolar Promedio
              </div>
              <div class="valores container-fluid d-flex text-center pt-1 fs-5">
                <div class="w-50 text-center">
                  <p class="cv text-light">Compra</p>
                  <p id="compra7" class="tarjeta text-light"></p>
                </div>
                <div class="w-50 text-center">
                  <p class="cv text-light">Venta</p>
                  <p id="venta7" class="tarjeta text-light"></p>
                </div>
              </div>
              <div class="text-center">
                <p id="variacion7" class="tarjeta text-dark"></p>
              </div>
              <div class="text-center">
                <p class="db text-light p-2 rounded-bottom">Actualizado</p>
              </div>
            </div>
          </article>
        </div>

        <div class="col-12 col-lg-4 p-2">
          <article class="card h-100 border-0">
            <div class="card-body shadow">
              <div
                class="db container-fluid text-center text-light p-1 fs-4 rounded-top"
              >
                Dolar Bolsa
              </div>
              <div class="valores container-fluid d-flex text-center pt-1 fs-5">
                <div class="container-fluid">
                  <p class="cv text-light">Referencia</p>
                  <p id="venta5" class="tarjeta text-light"></p>
                </div>
              </div>
              <div class="text-center">
                <p id="variacion5" class="tarjeta text-dark"></p>
              </div>
              <div class="text-center">
                <p class="db text-light p-2 rounded-bottom">Actualizado</p>
              </div>
            </div>
          </article>
        </div>

        <div class="col-12 col-lg-4 p-2">
          <article class="card h-100 border-0">
            <div class="card-body shadow">
              <div
                class="db container-fluid text-center text-light p-1 fs-4 rounded-top"
              >
                Dolar Turista
              </div>
              <div class="valores container-fluid d-flex text-center pt-1 fs-5">
                <div class="container-fluid text-center text-light">
                  <p class="cv text-light">Venta</p>
                  <p id="venta6" class="tarjeta text-light"></p>
                </div>
              </div>
              <div class="text-center">
                <p id="variacion6" class="tarjeta text-dark"></p>
              </div>
              <div class="text-center">
                <p class="db text-light p-2 rounded-bottom">Actualizado</p>
                <p id="fecha"></p>
                <p id="reloj"></p>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>

    <!---- Grid con cards ---->

    <div class="container d-flex justify-content-center" id="info">
      <div class="row">
        <div class="col-12 col-lg-6 p-2">
          <article class="card h-100">
            <div class="card-body">
              <h3 class="card-title">Prestamos a tasa fija</h3>
              <a href="#">Mas info.</a>
              <div class="d-flex">
                <img
                  src="{% static 'home/img/finance.png' %}"
                  alt="Finanzas"
                  height="30%"
                  width="30%"
                />
              </div>
            </div>
          </article>
        </div>
        <div class="col-12 col-lg-6 p-2">
          <article class="card h-100">
            <div class="card-body">
              <h3 class="card-title">Pedi hoy tu tarjeta</h3>
              <a href="#">Pedir hoy</a>
              <div class="d-flex">
                <img
                  src="{% static 'home/img/card.png' %}"
                  alt="tarjeta"
                  height="30%"
                  width="30%"
                />
              </div>
            </div>
          </article>
        </div>
        <div class="col-12 col-lg-6 p-2">
          <article class="card h-100">
            <div class="card-body">
              <h3 class="card-title">Soporte las 24hs.</h3>
              <a href="#">Consultar</a>
              <div class="d-flex">
                <img
                  src="{% static 'home/img/support.png' %}"
                  alt="soporte"
                  height="30%"
                  width="30%"
                />
              </div>
            </div>
          </article>
        </div>
        <div class="col-12 col-lg-6 p-2">
          <article class="card h-100">
            <div class="card-body">
              <h3 class="card-title">Con la mejor seguridad</h3>
              <a href="#">Ver terminos</a>
              <div class="d-flex">
                <img
                  src="{% static 'home/img/security.png' %}"
                  alt="security"
                  height="30%"
                  width="30%"
                />
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>

    <!----- Footer ----->

    <div class="container relative-bottom" id="footer">
      <footer
        class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top"
      >
        <div class="col mb-3">
          <a
            href="/"
            class="d-flex align-items-center mb-3 link-dark text-decoration-none"
          >
            <img
              class="bi me-2"
              height="40"
              src="{% static 'home/img/itbank-logoceleste.png' %}"
              alt="Itbank Logo"
            />
          </a>
          <p class="text-muted">&copy; 2022</p>
        </div>

        <div class="col mb-3"></div>

        <div class="col mb-3">
          <h5 class="text-right">Section</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-muted">Home</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-muted">Features</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-muted">Pricing</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-muted">FAQs</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-muted">About</a>
            </li>
          </ul>
        </div>

        <div class="col mb-3">
          <h5 class="text-right">Section</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-muted">Home</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-muted">Features</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-muted">Pricing</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-muted">FAQs</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-muted">About</a>
            </li>
          </ul>
        </div>

        <div class="col mb-3">
          <h5 class="text-right">Section</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-muted">Home</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-muted">Features</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-muted">Pricing</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-muted">FAQs</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-muted">About</a>
            </li>
          </ul>
        </div>
      </footer>
    </div>

    <script
      src="https://kit.fontawesome.com/229bd6718e.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'home/js/index.js' %}"></script>
    <script>
      const popoverTriggerList = document.querySelectorAll(
        '[data-bs-toggle="popover"]'
      );
      const popoverList = [...popoverTriggerList].map(
        (popoverTriggerEl) => new bootstrap.Popover(popoverTriggerEl)
      );
    </script>
  </body>
</html>
