{% extends 'homebanking/home.html' %} {% block content %}

<!----- Grid con texto e imagen ----->

<div class="container d-flex justify-content-center">
  <div class="row">
    <div class="col-12 col-lg-2">
      <h1 class="titulo">Bienvenidos<br />al <span>Home Banking</span></h1>
    </div>
    <div class="col-12 col-lg-10">
      <img
        class="portada"
        src="Imagenes/portada1.gif"
        alt="Home"
        width="126%"
      />
    </div>
  </div>
</div>

<!---- Grid con API ---->

<div class="container d-flex justify-content-center">
  <div class="row container-fluid">
    <div class="col-12 col-lg-4 p-2">
      <article class="card h-100 border-0">
        <div id="tarjeta" class="card-body shadow">
          <div
            class="db container-fluid text-center text-light p-1 fs-4 rounded-top"
          >
            Dolar Oficial
          </div>
          <div class="valores container-fluid d-flex text-center pt-1 fs-5">
            <div class="w-50 text-center">
              <p class="cv text-light">Compra</p>
              <p id="compra1" class="tarjeta text-light"></p>
            </div>
            <div class="w-50 text-center">
              <p class="cv text-light">Venta</p>
              <p id="venta1" class="tarjeta text-light"></p>
            </div>
          </div>
          <div class="text-center">
            <p id="variacion1" class="tarjeta text-dark"></p>
          </div>
          <div class="text-center">
            <p class="db text-light p-2 rounded-bottom">Actualizado</p>
          </div>
        </div>
      </article>
    </div>

    <div class="col-12 col-lg-4 p-2">
      <article class="card h-100 border-0">
        <div id="card" class="card-body shadow">
          <div
            class="db container-fluid text-center text-light p-1 fs-4 rounded-top"
          >
            Dolar Blue
          </div>
          <div class="valores container-fluid d-flex text-center pt-1 fs-5">
            <div class="w-50 text-center">
              <p class="cv text-light">Compra</p>
              <p id="compra" class="tarjeta text-light"></p>
            </div>
            <div class="w-50 text-center">
              <p class="cv text-light">Venta</p>
              <p id="venta" class="tarjeta text-light"></p>
            </div>
          </div>
          <div class="text-center">
            <p id="variacion" class="tarjeta text-dark"></p>
          </div>
          <div class="text-center">
            <p class="db text-light p-2 rounded-bottom">Actualizado</p>
          </div>
        </div>
      </article>
    </div>

    <div class="col-12 col-lg-4 p-2">
      <article class="card h-100 border-0">
        <div class="card-body shadow">
          <div
            class="db container-fluid text-center text-light p-1 fs-4 rounded-top"
          >
            Contado con liqui
          </div>
          <div class="valores container-fluid d-flex text-center pt-1 fs-5">
            <div class="container-fluid">
              <p class="cv text-light">Referencia</p>
              <p id="venta3" class="tarjeta text-light"></p>
            </div>
          </div>
          <div class="text-center">
            <p id="variacion3" class="tarjeta text-dark"></p>
          </div>
          <div class="text-center">
            <p class="db text-light p-2 rounded-bottom">Actualizado</p>
          </div>
        </div>
      </article>
    </div>

    <div class="col-12 col-lg-4 p-2">
      <article class="card h-100 border-0">
        <div id="tarjeta" class="card-body shadow">
          <div
            class="db container-fluid text-center text-light p-1 fs-4 rounded-top"
          >
            Dolar Promedio
          </div>
          <div class="valores container-fluid d-flex text-center pt-1 fs-5">
            <div class="w-50 text-center">
              <p class="cv text-light">Compra</p>
              <p id="compra7" class="tarjeta text-light"></p>
            </div>
            <div class="w-50 text-center">
              <p class="cv text-light">Venta</p>
              <p id="venta7" class="tarjeta text-light"></p>
            </div>
          </div>
          <div class="text-center">
            <p id="variacion7" class="tarjeta text-dark"></p>
          </div>
          <div class="text-center">
            <p class="db text-light p-2 rounded-bottom">Actualizado</p>
          </div>
        </div>
      </article>
    </div>

    <div class="col-12 col-lg-4 p-2">
      <article class="card h-100 border-0">
        <div class="card-body shadow">
          <div
            class="db container-fluid text-center text-light p-1 fs-4 rounded-top"
          >
            Dolar Bolsa
          </div>
          <div class="valores container-fluid d-flex text-center pt-1 fs-5">
            <div class="container-fluid">
              <p class="cv text-light">Referencia</p>
              <p id="venta5" class="tarjeta text-light"></p>
            </div>
          </div>
          <div class="text-center">
            <p id="variacion5" class="tarjeta text-dark"></p>
          </div>
          <div class="text-center">
            <p class="db text-light p-2 rounded-bottom">Actualizado</p>
          </div>
        </div>
      </article>
    </div>

    <div class="col-12 col-lg-4 p-2">
      <article class="card h-100 border-0">
        <div class="card-body shadow">
          <div
            class="db container-fluid text-center text-light p-1 fs-4 rounded-top"
          >
            Dolar Turista
          </div>
          <div class="valores container-fluid d-flex text-center pt-1 fs-5">
            <div class="container-fluid text-center text-light">
              <p class="cv text-light">Venta</p>
              <p id="venta6" class="tarjeta text-light"></p>
            </div>
          </div>
          <div class="text-center">
            <p id="variacion6" class="tarjeta text-dark"></p>
          </div>
          <div class="text-center">
            <p class="db text-light p-2 rounded-bottom">Actualizado</p>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>

<!---- Grid con cards ---->

<div class="container d-flex justify-content-center">
  <div class="row">
    <div class="col-12 col-lg-6 p-2">
      <article class="card h-100">
        <div class="card-body">
          <h3 class="card-title">Prestamos a tasa fija</h3>
          <a href="#">Mas info.</a>
          <div class="d-flex">
            <img
              src="Imagenes/finance.png"
              alt="Finanzas"
              height="30%"
              width="30%"
            />
          </div>
        </div>
      </article>
    </div>
    <div class="col-12 col-lg-6 p-2">
      <article class="card h-100">
        <div class="card-body">
          <h3 class="card-title">Pedi hoy tu tarjeta</h3>
          <a href="#">Pedir hoy</a>
          <div class="d-flex">
            <img
              src="Imagenes/card.png"
              alt="tarjeta"
              height="30%"
              width="30%"
            />
          </div>
        </div>
      </article>
    </div>
    <div class="col-12 col-lg-6 p-2">
      <article class="card h-100">
        <div class="card-body">
          <h3 class="card-title">Soporte las 24hs.</h3>
          <a href="#">Consultar</a>
          <div class="d-flex">
            <img
              src="Imagenes/support.png"
              alt="soporte"
              height="30%"
              width="30%"
            />
          </div>
        </div>
      </article>
    </div>
    <div class="col-12 col-lg-6 p-2">
      <article class="card h-100">
        <div class="card-body">
          <h3 class="card-title">Con la mejor seguridad</h3>
          <a href="#">Ver terminos</a>
          <div class="d-flex">
            <img
              src="Imagenes/security.png"
              alt="security"
              height="30%"
              width="30%"
            />
          </div>
        </div>
      </article>
    </div>
  </div>
</div>

{% endblock %}
