{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap"
      rel="stylesheet"
    />
    <!-- Boostrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'home/css/main.css' %}" />
   
    <title>Menu Principal | ITBANK</title>
  </head>

  <body>
    <header>
      <a href="{% url 'access'%}"><button>Cerrar sesión</button></a>
      <p class="mj-bienvenida">¡Bienvenido!</p>
      <img src="{% static 'home/img/foto-usuario.jpg' %}" class="img-fluid rounded-circle mr-2 avatar">
      <p class="nombre-usuario">Eugenio Morales</p>
    </header>
    



    <div class="d-flex">
      <div id="sidebar-container" class="bg-primary">
        <!-- LOGO -->
        <div class="logo">
          <img src="{% static 'home/img/itbank-logoceleste.png' %}" alt="logo" width="130">
        </div>
        <!-- MENU -->
        <div class="menu">
          <a href="#" class="d-block m-2 p-1"><img src="{% static 'home/icons/inicio.svg' %}"></i>Inicio</a>
          <a href="#" class="d-block m-2 p-1"><img src="{% static 'home/icons/tarjetas.svg' %}">Tarjetas</a>
          <a href="#" class="d-block m-2 p-1"><img src="{% static 'home/icons/transferencias.svg' %}" >Transferencias</a>
          <a href="#" class="d-block m-2 p-1"><img src="{% static 'home/icons/inversiones.svg' %}">Ahorro e Inversiones</a>
          <a href="#" class="d-block m-2 p-1"><img src="{% static 'home/icons/prestamos.svg' %}" >Préstamos</a>
          <a href="#" class="d-block m-2 p-1"><img src="{% static 'home/icons/pagos.svg' %}">Pagos</a>
          <a href="#" class="d-block m-2 p-1"><img src="{% static 'home/icons/seguridad.svg' %}">Seguridad</a>
          <a href="#" class="d-block m-2 p-1"><img src="{% static 'home/icons/turnos.svg' %}">Turnos</a>
          <a href="#" class="d-block m-2 p-1"><img src="{% static 'home/icons/ayuda.svg' %}">Ayuda</a>
        </div>
        <!-- Descarga app -->
        <div id="menuabajo">
          <p class="app">Descargá la App desde</p>
          <div d-flex>
            <div class="d-flex mb-2">
              <img src="{% static 'home/icons/apple.svg' %}" class="me-2">
              <div> 
                <small>Consíguela en</small>
                <p class="fw-bold mb-0">App Store</p>
              </div>
              
            </div>
            <div class="d-flex" >
              <img src="{% static 'home/icons/playstore.svg' %}" class="me-2">
              <div>
                <small>Disponible en</small>
                <p class="fw-bold mb-0">Play store</p>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
    
  </body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</html>
