{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap"
      rel="stylesheet"
    />
    <!-- Boostrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'home/css/main.css' %}" />
   
    <title>Menu Principal | ITBANK</title>
  </head>

  <body>
    <header class="container-fluid">
      <!-- LOGO -->
     <div class="mt-2 ms-4">
       <img src="{% static 'home/img/itbank-logoceleste.png' %}" alt="logo" width="180">
     </div>
     <div class="encabezado container-fluid">
       <a href="{% url 'home' %}"><button>Cerrar sesión</button></a>
       <p class="mj-bienvenida">¡Bienvenido!</p>
       <p class="nombre-usuario">{{user.first_name}}</p>
     </div>
     
   </header>

    <div class="d-flex">
      <div id="sidebar-container" class="bg-primary">
        <!-- MENU -->
        <div class="menu">
          <a href="#" class="d-block m-2 p-1"><img src="{% static 'home/icons/inicio.svg' %}"></i>Inicio</a>
          <a href="#" class="d-block m-2 p-1"><img src="{% static 'home/icons/tarjetas.svg' %}">Tarjetas</a>
          <a href="#" class="d-block m-2 p-1"><img src="{% static 'home/icons/transferencias.svg' %}" >Transferencias</a>
          <a href="#" class="d-block m-2 p-1"><img src="{% static 'home/icons/inversiones.svg' %}">Ahorro e Inversiones</a>
          <a href="#" class="d-block m-2 p-1"><img src="{% static 'home/icons/prestamos.svg' %}" >Préstamos</a>
          <a href="#" class="d-block m-2 p-1"><img src="{% static 'home/icons/pagos.svg' %}">Pagos</a>
          <a href="#" class="d-block m-2 p-1"><img src="{% static 'home/icons/seguridad.svg' %}">Seguridad</a>
          <a href="#" class="d-block m-2 p-1"><img src="{% static 'home/icons/turnos.svg' %}">Turnos</a>
          <a type="button" class="d-block m-2 p-1" data-bs-toggle="modal" data-bs-target="#exampleModal"><img src="{% static 'home/icons/info.svg' %}">Informacion de cliente</a>
          <a href="#" class="d-block m-2 p-1"><img src="{% static 'home/icons/ayuda.svg' %}">Ayuda</a>
        </div>
        <!-- Descarga app -->
        <div id="menuabajo">
          <p class="app">Descargá la App desde</p>
          <div d-flex>
            <div class="d-flex mb-2">
              <img src="{% static 'home/icons/apple.svg' %}" class="me-2">
              <div> 
                <small>Consíguela en</small>
                <p class="fw-bold mb-0">App Store</p>
              </div>
              
            </div>
            <div class="d-flex" >
              <img src="{% static 'home/icons/playstore.svg' %}" class="me-2">
              <div>
                <small>Disponible en</small>
                <p class="fw-bold mb-0">Play store</p>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Mis datos</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>A continuación vas a poder ingresar a una API privada, donde podes ver la información que ITBANK posee sobre vos.</p>
          </div>
          <div class="modal-footer">
            <a href="{% url 'api-root' %}" class="btn btn-success" >Ir ahora</a>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</html>
